<!doctype html>
{%load static%}
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>certifications</title>
</head>
<body>
  <h1><h3><a id='home' href="/">home page</a></h3></h1>
  <h2>This below certificate verifies that yashbansal successfully completed the course Django Ecommerce | Build Advanced Django Web Application on 28th February, 2023 as taught by Rathan Kumar, on Tutorialspoint. </h2>
  <img src="{% static "images\TP-AHLUECZT (1).jpg" %}" alt=""  width="800" height="600"><br>
  <h2>This certificate below verifies that Yash Bansal successfully completed the course Projects in Django and Python on 02/28/2023 as taught by Eduonix Learning Solutions, Eduonix-Tech ., Eduonix Support on Udemy. </h2>
  <img src="{% static "images\udemey.png" %}" alt=""  width="800" height="600"><br>
  <h2>Social</h2>
  <img src="{% static "images\intershala.png" %}" alt=""  width="800" height="600"><br>
  <h2>industry oriented training certifica </h2>
    <img src="{% static "images\iot.png" %}" alt=""  width="800" height="600"><br>
  <h2>Yash Bansal is now  StudySection Certified in Python</h2>
  <h2><a href="https://www.studysection.com/users/socialMedia/NjM3ODM3/eWFzaGJhbnNhbDExMDRAZ21haWwuY29t">certification link</a></h2>
</body>
</html>
